div.wrapHumidity{
    margin: 0;
    padding: 0;
    background: none;
    
    span.percentage{
        vertical-align: top;
        background: none;
        font-size: 1.2rem;
        position: relative;
        top: 15%;
        font-weight: 600;
    }
}
