.card.top {
    width: 100px;
    margin: 0.5rem 0.88rem;
    display: inline-block;
    text-align: center;
    background-color: transparent;
    border: none;

    .card-body {
      font-size: 16px;
      padding: 0.5rem;
      border-radius: 20px;
      background: white;

      span.weather-icon {
        background: transparent;
        font-size: 28px;

        svg {
          background-color: transparent;
          background: transparent;
        }
      }

      span.temp-full{
        font-size: 0.8rem;
        background: transparent;

        span.temp-degree {
          background: transparent;
        }
      }
    }
  }